# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/

# data & folders generated during test runs
data/
training_logs/
weights_storage/

# playground jupyter notebooks
*.ipynb

ConfusionMatrix.png