lightning==2.4.0
matplotlib==3.10.0
monai==1.4.0
numpy==2.2.2
seaborn==0.13.2
torch==2.5.0
torchcvnn==0.9.4
torchmetrics==1.5.0
torchvision==0.20.0
tqdm==4.66.5
PyYAML>=6.0
torchinfo>=1.7.2
wandb>=0.13.11
matplotlib>=3.7.1
scikit-image>=0.22.0
scikit-learn>=1.0
tifffile>=2024.8.28
seaborn>=0.11.2
Pillow>=10.0